# Default values for helm-core.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

spec:
  project: default
  destination:
    namespace: bookinfo
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      createNamespace: true
  source:
    helm:
      valuesFileName: values-local.yaml
    repoURL: https://github.com/taejune/bookinfo-deployment.git
    targetRevision: destination-rule